<html>
    <head>
        <title>Garage Door App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/background-door.css' %}">
        <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    </head>
    <body>
        <!-- This is the users base HTML file -->
        {% if user.is_authenticated %}
        <div class="topnav container">
            <a href="{% url 'users:update_profile' %}">Profile</a>
            <a href="{% url 'garagedoor:index' %}">Door Control</a>
            <a href="" onclick="if (confirm('Are you sure you want to open the door?')) {$('#openhidden').submit()}; return false;">Open door</a>
            <a href="" onclick="if (confirm('Are you sure you want to close the door?')) {$('#closehidden').submit()}; return false;">Close door</a>
            <a href="{% url 'users:logout' %}" onclick="return confirm('Are you sure you want to log out?')">Log Out</a>
            </table>
        </div>
        <form id="openhidden" method="post" action="{% url 'garagedoor:open' %}" style="display: none">
            {% csrf_token %}
        </form>

        <form id="closehidden" method="post" action="{% url 'garagedoor:close' %}" style="display: none">
            {% csrf_token %}
        </form>
        {% endif %}
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
