{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'users:create_account' %}" class="centered">
{% csrf_token %}
<h1 class="centered topspaced">Create a new account</h1>
  {{ form.as_table }}<br>
<input type="submit" value="create account" name="create_account" class="centered"/><br>
<p class="centered"><a href="{% url 'users:login' %}">Already have an account? Log In!</a></p>
</form>

</div>

{% endblock %}
