{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

{% if user.is_authenticated %}
<p class="centered">
  You are already logged in as {{user.username}}. You may either update your profile information
  or log out to log in as another user<br>
  <a href="{% url 'users:update_profile' %}" class="button">Update Profile</a><br>
</p>
{% else %}

<form method="post" action="{% url 'users:login' %}" class="centered">
{% csrf_token %}
<h1 class="centered topspaced">Log In</h1>
{% if form.errors %}
<p class="errortext">Your username and password didn't match. Please try again.</p>
{% endif %}
  {{form.as_table}}<br>
<input type="submit" value="login" class="centered"/>
<input type="hidden" name="next" value="{{ next }}" class="centered"/>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p class="centered"><a href="{% url 'users:create_account' %}">Do not have an account? Sign up!</a></p>
<p class="centered"><a href="{% url 'users:password_reset' %}">Lost password?</a></p>
</div>
{% endif %}

{% endblock %}