{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

{% if not user.is_authenticated %}
  <p>Please login to see this page.</p>
{% else %}

<form method="post" action="{% url 'users:update_profile' %}" class="centered">
{% csrf_token %}
<h1 class="centered topspaced">Update account information</h1>
  {{ form.as_table }}<br>
<input type="submit" value="confirm" name="update_profile" class="centered"/><br>
<a href="{% url 'users:password_reset' %}" class="button">Reset Password</a><br>
</form>
{% endif %}

</div>

{% endblock %}
