{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

{% if user.is_authenticated %}

<h3 class="centered topspaced">Review your existing door codes</h1>
<table align=center>
    {% if user_codes %}
        <tr>
            <th>Door Code</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Reset Code</th>
            <th>Usage History</th>
        </tr>
        {% for code in user_codes %}
            <tr>
                <td>
                    {{code.name}}
                </td>
                <td>
                    <a href="{% url 'garagedoor:update_code' code.id %}">
                        {% load static %}
                        <img src="{% static "images/edit.png" %}" width=20 alt="Edit"
                             name="edit{{forloop.counter}}">
                    </a>
                </td>
                <td>
                    <form method="post" action="{% url 'garagedoor:delete_code' code.id %}"
                          class="nomargin centered">
                        {% csrf_token %}
                        {% load static %}
                        <input type="image" alt="Delete" src="{% static "images/delete.png" %}"
                               width=20 class="nomargin" name="delete{{forloop.counter}}"
                               onclick="return confirm('This will delete the code for {{code.name}}')">
                    </form>
                </td>
                <td>
                    {% if code.passcode %}
                        <form method="post" action="{% url 'garagedoor:clear_code' code.id %}"
                              class="nomargin centered">
                            {% csrf_token %}
                            {% load static %}
                            <input type="image" alt="Reset" src="{% static "images/reset.png" %}"
                                   width=20 class="nomargin" name="clear{{forloop.counter}}"
                                   onclick="return confirm('This will clear the code for {{code.name}} and force it to be reset')">
                        </form>
                    {% else %}
                        Code not yet initialized
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'garagedoor:code_history' code.id %}">
                        {% load static %}
                        <img src="{% static "images/history.png" %}" width=20 alt="History"
                             name="history{{forloop.counter}}">
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
    <tr>
        <th>
            You do not have any codes defined yet. Click the button below to create your first one!
        </th>
    </tr>
    {% endif %}
</table>
<p class="centered">
    <a href="{% url 'garagedoor:create_code' %}" class="button" name="createcode">
        Create New Code
    </a>
</p>

</div>

{% else %}
<p>Please log in to see this page.</p>
{% endif %}

{% endblock %}
