{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

<form method="post" action="{% url 'garagedoor:update_code' code.id %}" class="centered">
{% csrf_token %}
<h1 class="centered topspaced">Code for {{owner.display_name}}'s House</h1>
<h3 class="centered topspaced">Your code is not set. Set it below</h3>
<p class="centered topspaced">
  You will only be asked to do this one time. Remember this code, as you will need it to open the
  garage door. Only the hashed passcode is stored, meaning that nobody will be able to learn your
  passcode by hacking this web application.
</p><br>
  {{form.as_table}}<br>
<input type="submit" value="Set Passcode" class="centered" name="create_code"/>
<input type="hidden" name="next" value="{{ next }}" class="centered"/>
</form>

</div>

{% endblock %}

