{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

{% if user.is_authenticated %}
{% load tz %}

<h1 class="centered topspaced">{{code.name}} usage history</h1>
<table align=center>
    <tr>
        <th>When was it used?</th>
        <th>What happened?</th>
    </tr>
    {% for usage, my_time in active_iterator %}
        <tr>
            <td>
                <!-- Hard-code America/New_York until I find a better way to do this -->
                {{my_time}}
            </td>
            <td>
                {% if usage.valid %}
                    <b class="successtext">{{usage.state}}</b>
                {% else %}
                    <b class="errortext">{{usage.reason}}</b>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<p class="centered">
<a href="{% url 'garagedoor:index' %}" class="button" name="back_to_all_codes">Back To All Codes</a>
</p>

</div>

{% else %}
<p>Please log in to see this page.</p>
{% endif %}

{% endblock %}
