{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

{% if user.is_authenticated %}

<form method="post" action="{% url 'garagedoor:create_code' %}" class="centered">
{% csrf_token %}
<h1 class="centered topspaced">Create a new door code</h1>
  {{form.as_table}}<br>
<input type="submit" value="Create Code" class="centered" name="create_code"/>
<input type="hidden" name="next" value="{{ next }}" class="centered"/>
</form>

</div>

{% else %}
<p>Please log in to see this page.</p>
{% endif %}

{% endblock %}

