{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

<h2 class="topspaced centered">
  {{response}}
</h2>

<p class="centered">
  <a href="{{return_url}}" class="button centered">Back to code</a>
</p>

</div>

{% endblock %}

