{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

<form method="post" action="{% url 'garagedoor:confirm_code' code.id %}" class="centered">
{% csrf_token %}
<h1 class="centered topspaced">Enter code for {{owner.display_name}}'s House</h1>
  {{form.as_table}}<br>
<input type="submit" value="Submit" name="submit_code" class="centered"/>
<input type="hidden" name="next" value="{{ next }}" class="centered"/>
</form>

</div>

{% endblock %}

