{% extends "base.html" %}
{% block content %}
<div class="semitransparent">

{% if user.is_authenticated %}

<h3 class="centered topspaced">
  This code is currently active:
</h3>
{% if code_active_times %}
  <table align=center>
    <tr>
      <th class="centered">Between Dates</th>
      <th>Repeats</th>
      <th>Time Active</th>
      <th>Time Zone</th>
    </tr>
    {% for active_time in code_active_times %}
      <tr>
        <td>
          {{active_time.date_range_string}}
        </td>
        <td class="centered">
          {{active_time.repeat_string}}
        </td>
        <td>
          {{active_time.time_range_string}}
        </td>
        <td>
          {{code.timezone}}
        </td>
        <form method="post" class="nomargin"
              action="{% url 'garagedoor:delete_date_active_code' code.id active_time.id %}">
          <td>
            {% csrf_token %}
            {% load static %}
            <input type="image" alt="Delete" src= "{% static "images/delete.png" %}" width=20
                   class="nomargin" name="delete{{forloop.counter}}"
                   onclick="return confirm('This will delete the active time')">
          </td>
        </form>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p class="centered">This code has no active times</p>
{% endif %}

<p align=left>
  To allow someone to set this code and use it to enter the garage, share the link to this page
  with them. They will be asked to set a passcode which they can then use.
</p>

<form method="post" action="{% url 'garagedoor:update_code' code.id %}" class="centered">
{% csrf_token %}
<h3 class="centered topspaced">Pick some times when this code will be active</h1>
  {{form.as_table}}<br>
<input type="submit" value="Create Active Time" class="centered" name="create_time"/><br>
<a href="{% url 'garagedoor:index' %}" class="button" name="back_to_all_codes">Back To All Codes</a>
<input type="hidden" name="next" value="{{ next }}" class="centered"/>
</form>

</div>

{% else %}
<p class="centered">Should not be here! Not logged in!</p>
{% endif %}

{% endblock %}

